<!DOCTYPE html>
<html>
  <head>
   <meta charset="utf-8"/>
   <title>Time Tracker</title>
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
   <meta name="description" content="simple time-tracking app">
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   <script src="https://use.fontawesome.com/ff1418b68b.js"></script>
   <script src="js/ez.countimer.min.js"></script>
   <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid grad">
      <div class="container">
        <h1 class="toptxt">time-tracker</h1>
        <p class="lead">Simple way to mange your time</p>
      </div>
    </div>
    <div id="container">
     <h2 class="toptxt mid">tasks:</h2> 
     <div id="ipt"><input class="mid" type="text" placeholder="Add New Task"></div>
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">
            <button class="timer btn btn-primary"></button>Lorem ipsum reversus ab viral inferno, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. 
            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            <input type="checkbox">
          </li>
          <li class="list-group-item list-group-item-info">
            <button class="timer btn btn-primary"></button>Hi mindless mortuis soulless creaturas, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. 
            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            <input type="checkbox">
          </li>
          <li class="list-group-item list-group-item-info">
            <button class="timer btn btn-primary"></button>Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.
            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            <input type="checkbox">
          </li>
        </ul>
    </div>
  <script type="text/javascript" src="js/browser.js"></script>
  </body>
</html>
