body {
    margin: 0;
    padding: 0;
    background-image: url("../img/teal_background.jpg");
}
#container {
    width: 80%;
    margin: 0 auto;
    padding: 0 0;
}
.jumbotron {
   margin-bottom: 0;
   text-shadow: 2px 2px 2px #006652;
   text-align: center;
   border-bottom-style: inset;
   border-bottom-color: #006652;
   height: 200px;
}
.grad {
    background: linear-gradient(to bottom, #f2f5f6 0%,#e3eaed 31%,#c8d7dc 100%);
}
.toptxt {
    margin: 0 auto;
    text-transform: uppercase;
    padding: 0 0;
}
h2 {
    color: #b3b3b3;
    text-shadow: 2px 2px 2px #006652;
}
li {
    padding-bottom: 10px;
}
.mid {
    text-align: left;
}
#ipt {
    text-align: center;
}
.lead {
    text-shadow: none;
}
input[type=text]{
   text-align: left;
   border-radius: 20px;
   padding: 2px 2px 2px 2px;
   width: 37px;
   opacity: 1;
   transition: width .40s;
   font-weight: bold;
   margin-bottom: 20px;
   margin-top: 15px;
   display: inline-block;
}
input[type=text]:focus {
    outline: none;
    border-color:#9ecaed;
    box-shadow:0 0 10px;
    width: 200px;
    border-radius: 20px;
}
input[type=checkbox] {
    float: right;
    margin-right: 10px;
}
.btn-xs {
    float: right;
    border-radius: 4px;
}
.list-group-item {
    text-indent: 15px;
    overflow: hidden;
    word-wrap: break-word;
    color: #001a33;
    width: 1000px;
}
.list-group-item-info {
    text-indent: 15px;
    overflow: hidden;
    word-wrap: break-word;
    background-color: #25cdcd;
    box-shadow: 1px 1px 3px 2px #198c8c;
}
.timer {
    float: left;
}
.text {
    display: inline-block;
}
